<?xml version="1.0"?>
<config>

    <modules>
        <Indexa_All>
            <version>0.1.0</version>
        </Indexa_All>
    </modules>
    <global>
        <helpers>
            <indexa_all>
                <class>Indexa_All_Helper</class>
            </indexa_all>
        </helpers>
        <models>
            <indexa_all>
                <class>Indexa_All_Model</class>
            </indexa_all>
        </models>
    </global>
</config>