<?xml version="1.0"?>
<!--
/**
 */
-->
<config>
    <tabs>
        <modulos translate="label" module="modulos">
            <label>Buscapé</label>
            <sort_order>100</sort_order>
        </modulos>
    </tabs>
    
     
	<sections>
		<modulos translate="label" module="modulos">
			<label>Configurar Serviços</label>
			<tab>modulos</tab>
			<frontend_type>text</frontend_type>
			<sort_order>99999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>					
		</modulos>		
	</sections>    
    
</config>