<?xml version="1.0"?>
<config>
    <modules>
        <Indexa_ProductAlert>
            <version>1.0.0.0</version>
        </Indexa_ProductAlert>
    </modules>
    <global>
        <models>
            <productalert>
                <rewrite>
                    <observer>Indexa_ProductAlert_Model_Observer</observer>
                </rewrite>
            </productalert>
        </models>
    </global>
</config>