<?xml version="1.0"?>
<config>

    <modules>
        <Indexa_Installments>
            <version>0.1.0</version>
        </Indexa_Installments>
    </modules>
    
    <frontend>
        <routers>
            <installments>
                <use>standard</use>
                <args>
                    <module>Indexa_Installments</module>
                    <frontName>installments</frontName>
                </args>
            </installments>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <indexa_installments>
                    <file>indexa_installments.xml</file>
                </indexa_installments>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <fieldsets>
            <sales_convert_quote_address>
                <juros_amount>
                    <to_order>*</to_order>
                </juros_amount>
                <base_juros_amount>
                    <to_order>*</to_order>
                </base_juros_amount>
            </sales_convert_quote_address>
            <sales_convert_quote_payment>
                <cc_parcelas>
                    <to_order_payment>*</to_order_payment>
                </cc_parcelas>
            </sales_convert_quote_payment>
            <sales_convert_order>
                <juros_amount>
                    <to_quote_address>*</to_quote_address>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </juros_amount>
                <base_juros_amount>
                    <to_quote_address>*</to_quote_address>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_juros_amount>
            </sales_convert_order>
            
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <juros>
                        <class>installments/quote_juros</class>
                        <after>subtotal</after>
                        <before>grand_total,tax</before>
                    </juros>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <juros>
                        <class>installments/order_juros</class>
                        <after>shipping</after>
                        <before>grand_total,tax</before>
                    </juros>
                </totals>
            </order_invoice>            
            <order_creditmemo>
                <totals>
                    <juros>
                        <class>installments/cm_juros</class>
                        <after>shipping</after>
                        <before>grand_total,tax</before>
                    </juros>
                </totals>
            </order_creditmemo>
        </sales>
        <helpers>
            <installments>
                <class>Indexa_Installments_Helper</class>
            </installments>
        </helpers>
        <blocks>
            <installments>
                <class>Indexa_Installments_Block</class>
            </installments>
        </blocks>
        <models>
            <installments>
                <class>Indexa_Installments_Model</class>
            </installments>
            <sales>
                <rewrite>
                    <quote_address>Indexa_Installments_Model_Address</quote_address>
                </rewrite>
            </sales>
                
        </models>
        <resources>
            <indexa_installments_setup>
                <setup>
                    <module>Indexa_Installments</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </indexa_installments_setup>
            <indexa_installments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </indexa_installments_write>
            <indexa_installments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </indexa_installments_read>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <indexa_installments_frontend_block>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsPaymentBlock</method>
                    </indexa_installments_frontend_block>
                    <indexa_installments_product_price>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsProductPrice</method>
                    </indexa_installments_product_price>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <indexa_installments_checkout_onepage>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckout</method>
                    </indexa_installments_checkout_onepage>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
                <observers>
                    <indexa_installments_onestepcheckout>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckout</method>
                    </indexa_installments_onestepcheckout>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
            <controller_action_predispatch_onestepcheckout_ajax_add_coupon>
                <observers>
                    <indexa_installments_onestepcheckout_coupon>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckoutClearPayment</method>
                    </indexa_installments_onestepcheckout_coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_add_coupon>
            <controller_action_predispatch_onestepcheckout_ajax_save_billing>
                <observers>
                    <indexa_installments_onestepcheckout_billing>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckoutClearPayment</method>
                    </indexa_installments_onestepcheckout_billing>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_save_billing>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <indexa_installments_checkout_onepage_shipping>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckoutSaveShipping</method>
                    </indexa_installments_checkout_onepage_shipping>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
           <controller_action_predispatch_onestepcheckout_index_index>
                <observers>
                    <indexa_installments_onestepcheckout_shipping>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>installmentsCheckout</method>
                    </indexa_installments_onestepcheckout_shipping>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_index> 
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <indexa_installments_onestepcheckout_shipping>
                        <type>singleton</type>
                        <class>installments/observer</class>
                        <method>clearInfo</method>
                    </indexa_installments_onestepcheckout_shipping>
                </observers>
            </controller_action_predispatch_checkout_cart_index>            
        </events>
    </global>
    
    <default>
        <installments>
            <installments>
                <active>0</active>
                <model>Indexa_Installments_Model_Installments</model>
            </installments>
        </installments>
    </default>
</config>